{% extends "base.html.twig" %}
{% block body %}
<!--Pagina inicio-->
    <section class="inicio" id="inicio">

        <div class="contenido">
            <h3>Panaderia Marzá</h3>
            <p>¡Bienvenidos amantes del pan!</p>
        </div>

    </section>

    <!--Fin pagina inicio-->
    <!--Seccion historia-->
    <section class="nosotros" id="nosotros">

        <h1 class="titulo">Sobre <span>Nosotros</span></h1>

        <div class="row">

            <div class="imagen">
                <img src="imagenes/bollos.png" alt="bollos"  height="400">
            </div>

            <div class="contenido">
            
                <h3>¿Te lo quieres perder?</h3>
                <p>El pan es el alimento básico de la Humanidad.La evolución histórica
                    del pan se basa en tres etapas: Despertarse temprano fundamental para recogerlo
                    bien calentito, seguido de esto salir a la calle y primordial ir a  <strong>Panaderia Marzá</strong>
                </p>
                <p>
                    Te invitamos a probar esta rutina matinal
                </p>
                <a href="{{ path ('producto') }}" class="btn">Enseñame más</a>
            </div>
        </div>
    </section>
    <!-- Fin seccion historia -->
{% endblock %}