{% extends "base.html.twig" %}
{% block body %}
<!--Pagina inicio-->
    <section class="inicio" id="inicio">

        <div class="contenido">
            <h3>Panaderia Marzá</h3>
            <p>¡Bienvenidos amantes del pan!</p>
        </div>

    </section>

    <!--Fin pagina inicio-->
    <!--Seccion historia-->
    <section class="nosotros" id="nosotros">

        <h1 class="titulo">Sobre <span>Nosotros</span></h1>

        <div class="row">

            <div class="imagen">
                <img src="imagenes/bollos.png" alt="bollos"  height="400">
            </div>

            <div class="contenido">
            
                <h3>¿Te lo quieres perder?</h3>
                <p>El pan es el alimento básico de la Humanidad.La evolución histórica
                    del pan se basa en tres etapas: Despertarse temprano fundamental para recogerlo
                    bien calentito, seguido de esto salir a la calle y primordial ir a  <strong>Panaderia Marzá</strong>
                </p>
                <p>
                    Te invitamos a probar esta rutina matinal
                </p>
                <a href="{{ path ('producto') }}" class="btn">Enseñame más</a>
            </div>
        </div>
    </section>

     <div class="fondo">
            <p>TRADICIÓN E INNOVACIÓN SE DAN DE LA MANO PARA OFRECER EL MEJOR PRODUCTO A NUESTROS CLIENTES<p>
     </div>

    <div class="row2">

            <div class="contenido2">
            
                <p>Junto a la panadería, ofrecemos productos de pastelería, tanto dulces como salados, 
                para satisfacer a los paladares más exigentes. La tradición en la elaboración se une a la innovación 
                y nos esforzamos en ofrecer siempre productos originales que sorprendan a nuestros clientes por su sabor y la calidad de sus ingredientes.
                </p>
            </div>

            <div class="imagen2">
                <img src="imagenes/panes.png" alt="panes" height="400px" width="400px" id="imagen1">
            </div>
        </div>
    <!-- Fin seccion historia -->
{% endblock %}