<!DOCTYPE html>
<html lang="es">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"><!--Bootstrap-->
        <script type="text/javascript" src="/js/script.js"></script>
        <link rel="stylesheet" href="/css/estilo.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" >
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
        <title>Panaderia Marzá</title>
</head>
<body>
        <!--Empieza header-->
<header class="header">

    <a href="#" class="logo">
        <img src="imagenes/logo.jpg" alt="">
    </a>
    <nav class="navegacion" >
        <a href="/">Inicio</a>
        <a href="/">Nosotros</a>
        <a href="/producto">Productos</a>
        <a href="/contacto">Contacto</a>
        <a href="#recetas">Recetas</a>
        
    </nav>
   
    <div class="icons">
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
        <div class="fas fa-bars" id="menu-btn"></div>
    </div>
</header>
    <!--Acaba header-->
        <!--Seccion productos-->
    <section class="productos" id="productos">

        <h1 class="titulo"> Nuestros <span>Productos</span></h1>
     
        <div class="contenedor">
            <div class="contiene">
                <img src="imagenes/coca.jpg" alt="">
                <h3>Tortada de almendra</h3>
                <div class="precio">16€/kg</div>
            </div>

            <div class="contiene">
                <img src="imagenes/cocanueces.jpg" alt="">
                <h3>Coca Pasas y Nueces</h3>
                <div class="precio">2€</div>
            </div>

            <div class="contiene">
                <img src="imagenes/pannetone.jpg" alt="">
                <h3>Pannetone</h3>
                <div class="precio">15€</div>
            </div>

            <div class="contiene">
                <img src="imagenes/hogaza.jpg" alt="">
                <h3>Hogaza</h3>
                <div class="precio">2.20€</div>
            </div>

            <div class="contiene">
                <img src="imagenes/rollitoanis.jpg" alt="">
                <h3>Rollitos de Anís</h3>
                <div class="precio">3€ bolsa 250gr</div>
            </div>

            <div class="contiene">
                <img src="imagenes/madalena.jpg" alt="">
                <h3>Madalenas</h3>
                <div class="precio">0.40cent/unidad</div>
            </div>

            <div class="contiene">
                <img src="imagenes/cocatomate.jpg" alt="">
                <h3>Coca de Tomate</h3>
                <div class="precio">1.80€/trozo</div>
            </div>

            <div class="contiene">
                <img src="imagenes/panrustico.jpg" alt="">
                <h3>Pan Rústico</h3>
                <div class="precio">0.90cent/unidad</div>
            </div>
        </div>


    </section>
<!--fin seccion productos-->
 <!--Inicio footer-->

 <section class="footer">

    <div class="rrss">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
    </div>

    <div class="derechos">
        Creado por Alejandro || <span>Todos los derechos reservados</span>
    </div>
    
</section>
<!--Fin footer-->
</body>
</html>