{% extends "base.html.twig" %}
{% block body %}
        <!--Seccion productos-->
    <section class="productos" id="productos">

        <h1 class="titulo"> Nuestros <span>Productos</span></h1>
    
        <div class="container">
                <div class="row-4">
                    <div class="img">
                         <img src="imagenes/coca.jpg" alt="">
                    </div>
                        <div class="col">
                        <h3>Tortada de almendra</h3>
                        <div class="precio">16€/kg</div>
                        <button>Añadir al carrito</button>
                    </div>
                </div>
            
            <div class="row-4">
                <div class="img">
                <img src="imagenes/cocanueces.jpg" alt="">
                </div>
                    <div class="col">
                    <h3>Coca Pasas y Nueces</h3>
                    <div class="precio">2€</div>
                     <button>Añadir al carrito</button>
                    </div>
            </div>
            
            <div class="row-4">
                <div class="img">
                <img src="imagenes/pannetone.jpg" alt="">
                </div>
                    <div class="col">
                    <h3>Pannetone</h3>
                    <div class="precio">15€</div>
                     <button>Añadir al carrito</button>
                    </div>
            </div>

            <div class="row-4">
                 <div class="img">
                    <img src="imagenes/hogaza.jpg" alt="">
                </div>
                    <div class="col">
                    <h3>Hogaza</h3>
                    <div class="precio">2.20€</div>
                     <button>Añadir al carrito</button>
                </div>
            </div>
            
            <div class="row-4">
                 <div class="img">
                 <img src="imagenes/rollitoanis.jpg" alt="">
                 </div>
                    <div class="col">
                    <h3>Rollitos de Anís</h3>
                    <div class="precio">3€ bolsa 250gr</div>
                     <button>Añadir al carrito</button>
                    </div>
            </div>
            
            <div class="row-4">
                 <div class="img">
                 <img src="imagenes/madalena.jpg" alt="">
                 </div>
                    <div class="col">
                    <h3>Madalenas</h3>
                    <div class="precio">0.40cent/unidad</div>
                     <button>Añadir al carrito</button>
                    </div>
            </div>

            <div class="row-4">
                 <div class="img">
                 <img src="imagenes/cocatomate.jpg" alt="">
                 </div>
                  <div class="col">
                  <h3>Coca de Tomate</h3>
                  <div class="precio">1.80€/trozo</div>
                   <button>Añadir al carrito</button>
                </div>
            </div>

                <div class="row-4">
                 <div class="img">
                 <img src="imagenes/panrustico.jpg" alt="">
                 </div>
                    <div class="col">
                    <h3>Pan Rústico</h3>
                    <div class="precio">0.90cent/unidad</div>
                     <button>Añadir al carrito</button>
                    </div>
                 </div>

                  <div class="row-4">
                 <div class="img">
                 <img src="imagenes/banderilla.jpg" alt="">
                 </div>
                    <div class="col">
                    <h3>Banderilla</h3>
                    <div class="precio">0.90cent/unidad</div>
                     <button>Añadir al carrito</button>
                    </div>
                 </div>

                  <div class="row-4">
                 <div class="img">
                 <img src="imagenes/pandeagua.jpg" alt="">
                 </div>
                    <div class="col">
                    <h3>Pan Agua</h3>
                    <div class="precio">0.90cent/unidad</div>
                     <button>Añadir al carrito</button>
                    </div>
                 </div>

        </div>
    </section>
<!--fin seccion productos-->
</body>
</html>
{% endblock %}