{% extends "base.html.twig" %}
{% block body %}
<!--Pagina recetas-->
    <section class="recetas" id="recetas">

        <div class="contenido">
            <h2>Recetas</h2>
            <p>Eventos durante el año . . .</p>
        </div>

    </section>

<section class="acordeon" id="acordeon">    
<div id="accordion">
  <h3>M A R Z O (FIESTAS DE LA MAGDALENA)</h3>
  <div>
    <p>
    En el primer trimestre del año en Panaderia Marzá realizamos <strong>Ximos Rellenos y Figues Albardaes</strong>, productos típicos y destacados de nuestras fiesta de la Magdalena. 
    Puedes disfrutarlos tanto de postre, como para desayunar, almorzar o simplemente para picar a cualquier hora.
    </p>
  </div>
  <h3>A B R I L (PASCUA)</h3>
  <div>
    <p>
    Nuestras tradicionales <strong>Monas de Pascua</strong> de las fiestas de Semana Santa. Gran variedad de selección en nuestras monas de Pascua
    tanto de 1 huevo, 2 huevos como las tipicas rellenas de chocolate, boniato, cabello, mazapán... 
     <br>
    <img src="imagenes/pascua.jpg" height="200px" width="200px"> 
    </p>
  </div>
  <h3>D I C I E M B R E (NAVIDAD)</h3>
  <div>
    <p>
    2 de los productos más demandados,buscados y deseados de nuestra gama de productos. Se tratan de los <strong>Pastelitos de Confitura y los Roscones de Reyes.</strong>
    Gran variedad de selección en nuestros pastelitos tipicos rellenos de chocolate, boniato, cabello, requesón, manzana.
    Misma amplia variedad de selección tenemos con nuestros Roscones de Reyes rellenos de nata, trufa, crema, boniato, chocolate, cabello... 
    </p>
  </div>
  <h3>365 DIAS</h3>
  <div>
    <p>
    Por último, aparte de nuestra gama diaria de productos ofrecemos un producto muy muy adorable como son los <strong>Pannetone.</strong>
    <br>
    <img src="imagenes/pannetone.jpg" height="200px" width="200px"> 
    </p>
  </div>
</div>
</section>


<section class="video">
    <h4>¿VAS A SER EL ÚLTIMO EN PICAR?</h4>
    <div class="video">
        <video preload="none" controls width="540" height="480">
        <source src="video/pastel.mp4" type="video/mp4" />
        <source src="video/pastel.webm" type="video/webm" />
        <source src="video/pastel.ogx" type="video/ogx" />
        Su navegador no soporta contenido multimedia.
        </video>
    </div>
</section>
    <!--Fin pagina recetas-->
{% endblock %}