            <div class="contenedor">
                <div class="contiene">
                    <img src="/{{ producto.foto }}" alt="">
                    <h3>{{ producto.nombre}}</h3>
                    <div class="precio">{{ producto.precio}}</div>
            </div>