:root{
    --main-color: #d3ad7f;
    --bg: #010103;
}

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html{
    font-size: large;
}

body{
    background: #010103;
}

.header{
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 7%;
    border-bottom: oldlace;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 67px;
}

.header .navegacion a{
    margin:0 12px;
    font-size: 18px;
    color: black;
}
.header .navegacion a:hover{
    color: #d3ad7f;
    border-bottom: .7px solid #d3ad7f;
    padding-bottom: .3px;
}

.header .icons div{
    color: black;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
}

.header .icons div:hover{
    color: #d3ad7f;
}
.btn{
    margin-top: 5px;
    display: block;
    font-size: 18px;
    color: #fff;
    background: #d3ad7f;
    cursor: pointer;
}
#menu-btn{

    display: none;
}

section{
    padding: 12px 7%;
}

.titulo{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 50px;
    font-size: 30px;
}
.titulo span{
    color: #d3ad7f;
    text-transform: uppercase;
}
.nosotros .row{
    display: flex;
    align-items: center;
    background: black;
    flex-wrap: wrap;
}
.nosotros .row .imagen{
    flex: 300px;
}

.nosotros .row .imagen img{
    width: 100%;
}

.nosotros .row .contenido{
    flex: 1 1 200px;
    padding: 5px;
}
.nosotros .row .contenido h3{
    font-size: 20px;
    color: #fff;
}
.nosotros .row .contenido p{
    font-size: 20px;
    color: #ccc;
    padding:5px 0;
    line-height: 1.8;

}
@media (max-width:991px) {
    html{
        font-size: medium;
    }
    header {
        padding: 15px;
    }
}

@media (max-width:991px) {

    #menu-btn{

        display: inline-block;
    }
    .header .navegacion{
        position: absolute;
        top : 100%;
        right: -100%;
        background: #fff;
        width: 300px;
        height: auto;
    }
    .header .navegacion .active{
        right: 0;
    }
    .header .navegacion a{
        color: black;
        display: block;
        margin: 12px;
        padding: .7px;
        font-size: 12px;
    } 
    section{
        padding: 12px ;
    }
}

.inicio {
    min-height: 1000px;
    display: flex;
    align-items: center;
    background: url(../imagenes/local.jpg) no-repeat;
    background-size: cover;
    background-position: center;

}

.inicio .contenido{
    max-width: 800px;
    padding-bottom: 600px;
}

.inicio .contenido h3{
    font-size: 45px;
    text-transform: uppercase;
    color: white;
}
.inicio .contenido p{
    font-size: 20px;
    font-weight: lighter;
    line-height: 2.5;
    text-transform: uppercase;
    color: white;
}

/* productos.html */
.productos .titulo{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    position: relative;
    padding-top: 100px;
}
.productos .titulo span{
    color: #d3ad7f;
    text-transform: uppercase;
}
.productos .contenedor{
    padding-top: 1rem;
    box-sizing: border-box;
}

.productos .contenedor .contiene{
    float: left;
    width: 50%;
    position: relative;
    padding: 0 8px;
    text-align: center;
    border: .1rem solid #d3ad7f;
}
.productos .contenedor .contiene img{
    height: 10rem;
}
.productos .contenedor .contiene h3{

    color: #fff;
    font-size: 1rem;
    padding: 0.8rem 0;
}

.productos .contenedor .contiene .precio{

    color: #fff;
    font-size: 0.8rem;
    padding: .1.5rem 0;
}
/*contacto.html*/
.contacto .direccion{
    display: flex;
    align-items: center;
    align-content: center;
    background: black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.contacto .titulo{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    position: relative;
    padding-top: 100px;
}
.contacto .titulo span{
    color: #d3ad7f;
    text-transform: uppercase;
}
.contacto .direccion form{
 flex:1 1 10rem;
}

.contacto .direccion form label  {
    display: flex;
    align-content: center;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    color: #d3ad7f;
}

.contacto .direccion form input  {
    display: flex;
    align-content: center;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    background:#fff ;
    color: #d3ad7f;
    
}
.contacto .direccion form select{
    display:flex;
    align-content: center;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
select{
    font-size: 14px;
    color: #fff;
    background: #d3ad7f;
    cursor: pointer;
}


/*footer*/

.footer{
    background: black;
    text-align: center;
    clear: both;
}

.footer .rrss{
    padding: 1rem 0;
}
.footer .rrss a{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    color: #fff;
    border: .1rem solid #d3ad7f;
    margin: .3rem;
    border-radius: 50%;
}

.footer .derechos{
    font-size: 0.8rem;
    color : #fff;
}

.footer .derechos span{
    color:#d3ad7f;
}

.reloj{
    color: #fff;
    background: black;
}