/*Base.html.twig y media queries*/
:root{
    --main-color: #d3ad7f;
    --bg: #010103;
    --border: .1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html{
    font-size: large;
}

body{
    background: #010103;
}

.header{
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 7%;
    border-bottom: oldlace;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 67px;
}

.header .navegacion a{
    margin:0 12px;
    font-size: 18px;
    color: black;
}
.header .navegacion a:hover{
    color: #d3ad7f;
    border-bottom: .7px solid #d3ad7f;
    padding-bottom: .3px;
}

.header .icons div{
    color: black;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
}

.header .icons div:hover{
    color: #d3ad7f;
}
.btn{
    margin-top: 5px;
    display: block;
    font-size: 18px;
    color: #fff;
    background: #d3ad7f;
    cursor: pointer;
}
#menu-btn{

    display: none;
}

section{
    padding: 12px 7%;
}

.titulo{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 50px;
    font-size: 30px;
}
.titulo span{
    color: #d3ad7f;
    text-transform: uppercase;
}
.nosotros .row{
    display: flex;
    align-items: center;
    background: black;
    flex-wrap: wrap;
}
.nosotros .row .imagen{
    flex: 300px;
}

.nosotros .row .imagen img{
    width: 100%;
}

.nosotros .row .contenido{
    flex: 1 1 200px;
    padding: 5px;
}
.nosotros .row .contenido h3{
    font-size: 20px;
    color: #fff;
}
.nosotros .row .contenido p{
    font-size: 20px;
    color: #ccc;
    padding:5px 0;
    line-height: 1.8;

}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    iframe {
        width: 410px;
    
    }
    video{
        width: 400px;
        height: 400px;
    }
  }

@media (max-width:991px) {
    html{
        font-size: medium;
    }
    header {
        padding: 15px;
    }
}

@media (max-width:991px) {

    #menu-btn{

        display: inline-block;
    }
    .header .navegacion{
        position: absolute;
        top : 100%;
        right: -100%;
        background: #fff;
        width: 300px;
        height: auto;
    }
    .header .navegacion .active{
        right: 0;
    }
    .header .navegacion a{
        color: black;
        display: block;
        margin: 12px;
        padding: .7px;
        font-size: 12px;
    } 
    section{
        padding: 12px ;
    }
}

.inicio {
    min-height: 1000px;
    display: flex;
    align-items: center;
    background: url(../imagenes/local.jpg) no-repeat;
    background-size: cover;
    background-position: center;

}

.inicio .contenido{
    max-width: 800px;
    padding-bottom: 600px;
}

.inicio .contenido h3{
    font-size: 45px;
    text-transform: uppercase;
    color: #d3ad7f;
    background-color: white;
    margin-top: -90px;
}
.inicio .contenido p{
    color: #d3ad7f;
    background-color: white;
    margin-top: -20px;
    font-size: 20pt;
}

/*Fin base.html.twig*/
/* productos.html */

div.container::before{
    content: none;
}

.productos .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap:1.5rem;
}
.productos .titulo{
    padding-top: 100px;
}
.productos .titulo span{
    color: #d3ad7f;
    text-transform: uppercase;
}

.productos .container .row-4{
    text-align: center;
    border:var(--border);
    padding: -0.5rem;
}

.productos .container .row-4 .col a{
    height: 4rem;
    width: 4rem;
    line-height: 2rem;
    font-size: 1rem;
    border: var(--border);
    color: #fff;
    margin: .3rem;
}

.productos .container .row-4 .col a:hover{
    background: #d3ad7f;
}

.productos .container .row img{
    padding: 2.5rem 0;
}
.productos .container .row-4 .img img{
    height: 15.5rem;
}

.productos .container .row-4 .col h3{
    color : #fff;
    font-size: 1.5rem;
}

.productos .container .row-4 .col .precio{
    color: #fff;
    font-size: 1.5rem;
}
.productos .container .row-4 .col .precio span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

.productos .container .row-4 .col button{
    border-radius: 4px;
    color : black;
    background-color: #d3ad7f;
    width: 80px;
    height: 60px;
}
/*Fin productos.html.twig */
/*contacto.html,login.html.twig,register.html.twig*/


.register h1 {
    margin-top: 120px;
    color: #d3ad7f;
}

.register form label{
    display: flex;
    align-content: center;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    color: #d3ad7f;
    width: 1000px;
}

.direccion{
    border-radius: 5px;
    padding: 20px;
}
.contacto .titulo{
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 100px;
}
.contacto .titulo span{
    color: #d3ad7f;
    text-transform: uppercase;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .direccion form label  {
    display: flex;
    align-content: center;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    color: #d3ad7f;
    width: 1000px;
}

.contacto .direccion form label  {
    display: flex;
    align-content: center;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    color: #d3ad7f;
    width: 1000px;
}

.contacto .direccion form input  {
    display: block;
    align-content: center;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    background:#fff ;
    color: #d3ad7f;
}
.contacto .direccion form select{
    display:block;
    align-content: center;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
select{
    font-size: 14px;
    color: #fff;
    background: #d3ad7f;
    cursor: pointer;
}

.contacto .direccion form button{
    display: inline-block;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

/*Recetas.html.twig*/

.recetas .contenido{
    max-width: 800px;
    padding-bottom: 600px;
}

.recetas .contenido h2{
    font-size: 45px;
    text-transform: uppercase;
    color: #d3ad7f;
    margin-top: 103px;
}
.recetas .contenido p{
    color: #d3ad7f;
    margin-top: -20px;
    font-size: 20pt;
}

.video .row .colum img{
    display: block;
}

.video h4{
    font-size: 30px;
    text-transform: uppercase;
    color: #d3ad7f;
}
.video video{
    background: #d3ad7f;
}

.premio .premios h3{
    text-transform: uppercase;
    color: #d3ad7f;
}

.premio .premios{
    float: left;
    color : white;
    margin-top: 300px;
}

.acordeon{
    margin-top:-600px;
}


.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
  }
  .column p{
      font-size: 20px;
      color : white;
      justify-content: center;
  }
  .row:after {
    content: "";
    display: table;
  }
/*Estrellas*/
  .checked {
    color: orange;
  }

  .ajax .resultado{
    font-size: 25px;
    text-transform: uppercase;
    color: #d3ad7f;
    margin-top: 750px;
}

  .ajax .resultado input{
    display: block;
    border: 2px;
    background-color: #d3ad7f;
    color: white;
}
 
/*footer común*/

.footer{
    background: black;
    text-align: center;
}

.footer .rrss{
    padding: 1rem 0;
    margin-top: 200px;
}
.footer .rrss a{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    color: #fff;
    border: .1rem solid #d3ad7f;
    margin: .3rem;
    border-radius: 50%;
}

.footer .derechos{
    font-size: 0.8rem;
    color : #fff;
}

.footer .derechos span{
    color:#d3ad7f;
}

/*CSS reloj*/
.reloj{
    color: #fff;
    background: black;
}