{% extends "base.html.twig" %}
{% block title %}Productos{% endblock %}
{% block body %}
    <h1>Listado de Productos</h1>
    {% if productos %}
    <section class="productos" id="productos">
    <h1 class="titulo"> Nuestros <span>Productos</span></h1>
     <div class="menu">
        <h2>Cate<span>gorias</span></h2>
            <ul><a href="/producto/buscar/2">&#9679; Bolleria</ul>
            <ul><a href="/producto/buscar/1"><span>&#9679; Panaderia</span></ul>
       </div>
        <div class="container">
        {% for producto in productos %}
        {{ include ('partials/datos_producto.html.twig' , {'producto': producto }) }}
       {% endfor %}
       </div>
    </section>
    {% else %}
        <p> No se han encontrado productos</p>
    {% endif %}
{% endblock %}